
<div class="screen fight-arena">
  <!-- My Pokemon Stats  -->
  <div class="stats my-stats">
    <div class="stats-outer">
      <div class="stats-inner">
        <div class="their-health">
          <progress class="health-bar their-healthbar" value="100" max="100"></progress>
        </div>
        <p>Player 1</p>
        <p>X Remaining</p>
      </div>
    </div>
    <!-- My Pokemon -->
    <div class="pokemon my-pokemon">
      <%= image_tag "bulbasaur_back.gif", class: "animated", id: "my-pokemon-avatar" %>
      <div class="poke-deck"></div>
    </div>
  </div>
  <!-- Opponent Pokemon Stats -->
  <div class="stats">
    <!-- Opponent Pokemon -->
    <div class="pokemon their-pokemon">
      <%= image_tag "bulbasaur_front.gif", class: "animated", id: "their-pokemon-avatar" %>
      <div class="poke-deck"></div>
    </div>
    <div class="stats-outer their-stats">
      <div class="stats-inner">
        <div class="my-health">
          <progress class="health-bar my-healthbar" value="100" max="100"></progress>
        </div>
        <p>Player 2</p>
        <p>Y Remaining</p>
      </div>
    </div>
  </div>
  <!-- Bottom Console -->
  <div class="console">
    <div class="console-outer">
      <div class="console-inner">
        <p>Richurtle used <br>Wine Gun!</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <button class="attack" data-attack-type="tackle">Tackle</button>
  <button class="attack" data-attack-type="counter">Counter</button>
  <!-- Media Controls -->
  <div class="banner">
    <div class="music">
      <%= audio_tag("#{@song}", autoplay: true, controls: true, loop: true) %>
    </div>
  </div>
  <div class="sound-effects">
    <%= audio_tag "tackle.wav", id: "audio-tackle" %>
    <%= audio_tag "counter.wav", id: "audio-counter" %>
    <%= audio_tag "faint.wav", id: "audio-faint" %>
  </div>
</div>

<script>
$(function(){
  $('.their-pokemon img').css({opacity : 0});
  $('.my-pokemon img').css({opacity : 0});
  $('body').append('<div class="selection-screen"></div>');
  $('.selection-screen').append('<h2>Choose your Pokemon</h2>');
  pushBigImages('bulbasaur');
  pushBigImages('charmander');
  pushBigImages('pikachu');
  pushBigImages('squirtle');
});

var pushBigImages = function(pokemon){
  var $selection = $('.selection-screen');
  $selection.append('<img id='+ pokemon +' src="/assets/big_' + pokemon + '.png"/>');
  pokeLogger(pokemon);
}

var pokeLogger = function(pokemon){
  $('#' + pokemon).on('click', function(evt){
    evt.stopPropagation;
    evt.preventDefault;
    //Fix this later, since I have no idea what the
    //websocket is actually doing. Also we need to figure out
    //how to do the ready function when the pokemon is selected.
    //you can only choose one pokemon.
    websocket = new WebSocketRails( location.host + '/websocket');
    websocket.trigger('game.select_pokemon', this.id);
    console.log('I am ' + this.id);
    console.log(websocket);
    //bounces on selection
    $('#' + this.id).addClass('animated bounce');
    //the selection screen fades out after the bounce.
    $('#' + this.id).one('webkitAnimationEnd mozAnimationEnd', function() {
      $('.selection-screen').addClass('animated fadeOut');
    });
    //the pokemon slides in after the selection screen fades.
    switch(this.id){
      case 'pikachu':
        $('.my-pokemon').html('<%= image_tag("pikachu_back.gif")%>');
        break;
      case 'bulbasaur':
        $('.my-pokemon').html('<%= image_tag("bulbasaur_back.gif")%>');
        break;
      case 'charmander':
        $('.my-pokemon').html('<%= image_tag("charmander_back.gif")%>');
        break;
      case 'squirtle':
        $('.my-pokemon').html('<%= image_tag("squirtle_back.gif")%>');
        break;
    }

    $('.selection-screen').one('webkitAnimationEnd mozAnimationEnd', function (){
      $('.my-pokemon').addClass('animated slideInLeft');
    });


  });
}


</script>


<%= javascript_include_tag "fights/battle_view" %>
<script>
  $(function() {
    var player = new Player();
  });
</script>


